# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
data.head()

In [ ]:
#Column names should be in lower case
col_rename = []

for col in data.columns:
    col_rename.append(col.lower().replace(" ","_"))
    
data.columns = col_rename      
data = data.rename(columns={'st':'state'})

In [ ]:
data.head()

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".

In [ ]:
#first of all i clean all the rows that are emtpy
data = data.dropna(how='all')

In [ ]:
#The next step is to fill the NaNs, that are still there, with 'U' for unknown. Otherwise i cant do the next step because NaNs are float type.
data[['gender']] = data[['gender']].fillna('U')

In [ ]:
def gender(x: str)-> str:
    first_letter = x[0]
    if first_letter in ['F','M']:
        return first_letter.upper()
    else:
        return 'U'
    
data['gender'] = data['gender'].apply(gender)

In [ ]:
data['gender'].unique()

State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"

In [ ]:
data['state'].unique()

In [ ]:
def rename_country(x: str) -> str:
    if x == 'AZ':
        x = 'Arizona'
        return x
    if x == 'Cali':
        x = 'California'
        return x
    if x == 'WA':
        x = 'Washington'
        return x
    else:
        return x
    
data['state'] = data['state'].apply(rename_country)

In [ ]:
# i tryed another way. Instead of many if conditions, i want to use a dictionary where i can related the Words that should be replaced. But it dindnt realy works.
'''
def rename_country(x: str) -> str:
    dic = {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}
    for key, value in dic:
        if x == key:
            x = value
            return x
        else:
            return x   
    
data2 = data.copy()
data2['state'] = data2['state'].apply(rename_country)
'''

In [ ]:
data['state'].unique()

In education, "Bachelors" could be replaced by "Bachelor"

In [ ]:
data['education'].unique()

In [ ]:
data['education'] = data['education'].replace('Bachelors','Bachelor')

In [ ]:
data['education'].unique()

In Customer Lifetime Value, delete the % character

In [ ]:
data['customer_lifetime_value'].unique()

In [ ]:
data['customer_lifetime_value'] = data['customer_lifetime_value'].str.replace('%','')

In [ ]:
data['customer_lifetime_value'].unique()

In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

In [ ]:
data['vehicle_class'].unique()

In [ ]:
data['vehicle_class'] = data['vehicle_class'].replace('Sports Car','Luxury')
data['vehicle_class'] = data['vehicle_class'].replace('Luxury SUV','Luxury')
data['vehicle_class'] = data['vehicle_class'].replace('Luxury Car','Luxury')

In [ ]:
data['vehicle_class'].unique()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

Customer lifetime value should be numeric

In [ ]:
data['customer_lifetime_value']=data['customer_lifetime_value'].astype('float64')
data['customer_lifetime_value'].dtype

Number of open complaints has an incorrect format. Look at the different values it takes with unique() and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.

In [ ]:
data['number_of_open_complaints'].unique()

In [ ]:
def split(x:str)-> str:
    y = x.split('/')
    return y[1]
   
data['number_of_open_complaints'] = data['number_of_open_complaints'].apply(split)

In [ ]:
data['number_of_open_complaints'].unique()

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

In [ ]:
#Checking the percentage of missing Values per column
data.isna().sum()/data.shape[0]*100

In [ ]:
#IÂ´m using the fillna function to fill out the missing values with the mean value of the row because the percentage of missing values is very low (0,28%). 
clv_mean = data['customer_lifetime_value'].median()
data['customer_lifetime_value'] = data['customer_lifetime_value'].fillna(clv_mean)
data['customer_lifetime_value'].unique()

In [ ]:
#checking again
data.isna().sum()/data.shape[0]*100

In [ ]:
data.info()
col_numeric = ['customer_lifetime_value','income','monthly_premium_auto','total_claim_amount']

In [ ]:
data[col_numeric]=data[col_numeric].astype('int')

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Dropping the duplicates only in the customer column make sense.
print(data['customer'].duplicated().sum())
print(data.duplicated().sum())
#There are no duplicates anymore.

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [1]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [2]:
#%%writefile function_data_cleaning_lab.py
def replace_column_lower(df:pd.DataFrame, replace:str, replaced_by:str)-> pd.DataFrame:
    '''
    replaceing in every column the variable "replace" with the var "replaced_by" and lower the letters.
    
    '''
    col_rename = []

    for col in df.columns:
        col_rename.append(col.lower().replace(replace,replaced_by))
    
    df.columns = col_rename      
    return df
    
def column_rename(df:pd.DataFrame, column_name:str, replaced_by:str)-> pd.DataFrame:    
    '''
    replacing the column name 
    '''
    df = df.rename(columns={column_name:replaced_by})
    return df

def drop_nan_value_rows(df:pd.DataFrame) -> pd.DataFrame:
    '''
    Dropping Rows if there are fully empty.
    ''' 
    df = df.dropna(how='all')
    return df

def drop_global_duplicated(df:pd.DataFrame, col:str)-> pd.DataFrame:
    '''
    searching for dupliccateds in any columns and keep only the first occurrence of each duplicated row 
    '''
    df = df.drop_duplicates(subset=col)
    return df

def replace(df:pd.DataFrame, col:str, replace:str, replaced_by:str)-> pd.DataFrame:
    '''
    replace a string for another string
    ''' 
    if data[col].dtype == 'O':
        df[col] = df[col].str.replace(replace,replaced_by)
        return df

def fillna(df:pd.DataFrame, col:str, fill:str)->pd.DataFrame:
    '''
    Fill all the NaNs of one column with the median of that column
    '''
    if fill == 'median':
        clv_mean = df[col].median()
        df[col] = df[col].fillna(clv_mean)
        return df
    if fill == 'mode':
        clv_mode = df[col].mode()
        df[col] = df[col].fillna(clv_mode)
        return df
    else:
        df[col] = df[col].fillna(fill)
        return df

def chance_datatype(df:pd.DataFrame, col=str, d_type=type)->pd.DataFrame:
    '''
    chancing the datatype of a column 
    '''
    df[col] = df[col].astype(d_type)
    return df

def split(df: pd.DataFrame, symbol:str, col:str)-> pd.DataFrame:
    '''
    split a string by specific symbol and indexing which split should return
    ''' 

    df2 = df.copy()
    if data[col].dtype == 'O':
        if col not in df2.columns:
            return df2
        else:
            df2[col] = df2[col].apply(lambda x: x.split(symbol)[1] )
            
            return df2

def clean_gender_column(df: pd.DataFrame) -> pd.DataFrame:
    '''
    This function will take a Pandas DataFrame as an input and it will replace the values in
    the "gender" column ins such a way that any gender which is not Male or Female with be 
    replaced by "U" otherwise the genders will be either "F" or "M"

    Inputs:
    df: Pandas DataFrame

    Outputs:
    A pandas DataFrame with the values in the "gender" column cleaned.
    '''

    df2 = df.copy()

    if "gender" not in df2.columns:
        return df2
    else:
        #df2['gender'] = df2['gender'].apply(lambda x: x[0].upper() if x[0].upper() in ['M', 'F'] else "U")
        df2['gender'] = list(map(lambda x: x[0].upper() if x[0].upper() in ['M', 'F'] else "U", df2['gender']))
        return df2

def clean_columns(df: pd.DataFrame) -> pd.DataFrame:
    '''
    set all columns to lowercase letters and replace spaces with underscore.
    Rename the column 'st'
    '''
    df = replace_column_lower(df," ","_")
    df = column_rename(df,'st','state')
    return df

def data_clean(df: pd.DataFrame) -> pd.DataFrame:
    '''
    start all cleaning functions
    '''
    df = drop_nan_value_rows(df)   
    df = drop_global_duplicated(df,'customer')
    df = replace(df,'education','Bachelors','Bachelor')
    df = replace(df,'state','AZ','Arizona')
    df = replace(df,'state','Cali','California')
    df = replace(df,'state','WA','Washington')
    df = replace(df,'vehicle_class','Sports Car','Luxury')
    df = replace(df,'vehicle_class','Luxury SUV','Luxury')
    df = replace(df,'vehicle_class','Luxury Car','Luxury')
    df = replace(df,'customer_lifetime_value','%','')
    df = fillna(df,'customer_lifetime_value','median')
    df = chance_datatype(df,'customer_lifetime_value',float)
    df = fillna(df,'gender','U')
    df = clean_gender_column(df)
    df = split(df,'/','number_of_open_complaints')
    df = chance_datatype(df,'number_of_open_complaints',int)
    df = chance_datatype(df,'income',int)
    df = chance_datatype(df,'customer_lifetime_value',int)
    df = chance_datatype(df,'monthly_premium_auto',int)
    df = chance_datatype(df,'total_claim_amount',int)
    return df

In [4]:
data = clean_columns(data)
data = data_clean(data)

In [8]:
display(data.info())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1071 entries, 0 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     1071 non-null   object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1071 non-null   int32
 5   income                     1071 non-null   int32
 6   monthly_premium_auto       1071 non-null   int32
 7   number_of_open_complaints  1071 non-null   int32
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   int32
dtypes: int32(5), object(6)
memory usage: 79.5+ KB

None

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,U,Master,588174,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,Californiafornia,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
data.info()

In [ ]:
#Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
display(data['total_claim_amount'].describe().round(2))
display(data['customer_lifetime_value'].describe().round(2))

In [ ]:
#Create a pandas DataFrame object that contains information about customers with a policy claim amount 
#greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
data_filter_highclaim_lowclv=data[(data['total_claim_amount']>data['total_claim_amount'].describe()[6])&(data['customer_lifetime_value']<data['customer_lifetime_value'].describe()[4])]
data_filter_highclaim_lowclv.head()

In [ ]:
#Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer 
#lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. 
#This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both 
#columns at the same time, allowing you to compare and analyze their characteristics.
data_filter_highclaim_lowclv[['total_claim_amount','customer_lifetime_value']].describe()